:root {
  --common-black: #2f2f37;
  --common-white: #ffffff;
  --accent: #3f51b5;
  --spacing: 8px;
}

body {
  padding: 0 calc(var(--spacing) * 2);
  background-color: var(--common-white);
  color: var(--common-black);
  line-height: 1.5;
}
